<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Open+Sans:300,400,600,700,900">
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/EB+Garamond:400">
    <link title="newtheme" rel="stylesheet" href="{{asset "styles/mtheme.css"}}">
    <script src="{{asset "scripts/modernizr.custom.js"}}"></script>

    {{ghost_head}} {{! Ghost outputs important style and meta data with this tag }}

  </head>
  <body class="{{body_class}}">
    {{> site_nav}}
    
    {{{body}}}

    {{ghost_foot}} {{! Ghost outputs important scripts and data with this tag }}

    <a href="https://github.com/readypress/mtheme"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
  </body>
  <script data-main="{{asset "scripts/mtheme.min.js"}}" src="{{asset "components/requirejs/require.js"}}"></script>
</html>